.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #0000000d;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: lato;
}
body {
    font-weight: 400;
    letter-spacing: 0;
}
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: lato;
}
body {
    font-weight: 400;
    letter-spacing: 0;
}
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}







.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

label {
    cursor: default;
}
h5, .dc {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, .cy, .cz, .da, .db, .dc, .dd {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}
.h5, h5 {
    font-size: 14px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h5 {
    font-size: 0.83em;
    font-weight: bold;
}
body {
    font-family: lato;
}
body {
    font-weight: 400;
    letter-spacing: 0;
}
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: lato;
}
body {
    font-weight: 400;
    letter-spacing: 0;
}
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}

.pink {
    color: #ba6a62;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa {
    display: inline-block;
    font: 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 100px solid #e0c3c0;
    border-radius: 300px;
    box-shadow: inset 0 1px 1px #0000000d;
    
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: lato;
}
body {
    font-weight: 400;
    letter-spacing: 0;
}
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: lato;
}
body {
    font-weight: 400;
    letter-spacing: 0;
}
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}




button[disabled], html input[disabled] {
    cursor: default;
}
.btn-pink {
    color: #fff;
    background-color:#ba6a62;
    border-color: #ba6a62;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 400px;
    -webkit-user-select: none;
    user-select: none;
}
.ladda-button, .ladda-button .ladda-spinner, .ladda-button .ladda-label {
    transition: .3s cubic-bezier(.175,.885,.32,1.275) all;
}
.ladda-button {
    position: relative;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
button:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

button {
    appearance: auto;
    
    text-rendering: auto;
    
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.text-center[_ngcontent-serverApp-c40] {
    text-align: center;
}
.text-center {
    text-align: center;
}

.panel-body {
    padding: 15px;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: lato;
}
body {
    font-weight: 400;
    letter-spacing: 0;
}
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: lato;
}
body {
    font-weight: 400;
    letter-spacing: 0;
}
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}


.input-group .form-control:first-child, .input-group-addon:first-child, .fj:first-child>.cg, .fj:first-child>.oh>.cg, .fj:first-child>.fn, .fj:last-child>.cg:not(:last-child):not(.dropdown-toggle), .fj:last-child>.oh:not(:last-child)>.cg {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ng-invalid[_ngcontent-serverApp-c40]:not(form) {
    border-left: 5px solid #a94442;
}
.input-group-addon, .fj, .input-group .form-control {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.form-control {
    transition: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    color: #536570;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d4dbe0;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #00000013;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #00000013;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
input[type="number" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
user agent stylesheet
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
user agent stylesheet
input {
   
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}


.input-group-addon:last-child {
    border-left: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .fj:last-child>.cg, .fj:last-child>.oh>.cg, .fj:last-child>.fn, .fj:first-child>.cg:not(:first-child), .fj:first-child>.oh:not(:first-child)>.cg {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #536570;
    text-align: center;
    background-color: #d4dbe0;
    border: 1px solid #d4dbe0;
    border-radius: 4px;
}
.input-group-addon, .fj {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .fj, .input-group .form-control {
    display: table-cell;
}
.input-group-addon {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}



* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.panel-body {
    padding: 90px;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}



* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 50px;
    
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.text-center[_ngcontent-serverApp-c40] {
    text-align: center;
}
.text-center {
    text-align: center;
}


  
  
  
  